* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif ;
}
body {
    padding: 50px;
}


.alert-info {
    background-color: lightblue;
    border: 2px solid lightgray;
    margin: 25px 25px;
    display: flex;
    justify-content: space-around;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

li{
    margin: 10px 0;
    border: 2px ;
    padding: 10px ;
    background-color: lightgray;
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
}

h2 {
  padding: 10px;
}

.main p {
    padding: 10px;
}
.sub-section p {
    padding: 10px;

}

@media screen and (min-width: 1200px) {

    h1 {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .alert-info {
        display: none;
    }
    li {
        /*display: flex;*/
        /*align-content: flex-end;*/
        /*justify-content: space-around;*/
        background-color: transparent;
        display: inline-block;
        float: right;
        position: relative;
        top: -40px;
    }
    .main {
        display: flex;
        justify-content: center;
        /*margin-left: 50px;*/
        flex-direction: column;
        gap: 50px;
        flex-wrap: wrap;
    }
    .sub-section {
        display: flex;
        justify-content: center;
        align-content: space-evenly;
        flex-direction: column;

    }
}



